# Virtual environments
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files
.env
.env.*

# Logs
*.log